#custom-cursor-circle {
  position: fixed;
  width: 25px;
  height: 25px;
  background-color: rgba(0, 123, 255, 0.7); /* Синий прозрачный */
  border-radius: 50%;
  pointer-events: none; /* Кружок не мешает кликам */
  transform: translate(-50%, -50%); /* Центрирование по курсору */
  z-index: 9999;
}

.pupup-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  flex-direction: column;

  gap: 10px;
  background-color: rgb(255, 255, 255);

  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 99999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  /* width: 250px; */
  padding: 10px;
  background-color: #eef3ff;
  color: #1a3da8;
  text-align: center;
  border-radius: 8px;
}

h3 {
  color: #10387c;
}
.indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #63666c;

  transition: 0.3s ease-in-out;

  position: absolute;
  top: 10px;
  right: 10px;
}

.indicator.active {
  background-color: #08de21;
}
.indicator.inactive {
  background-color: #d21403;
}
.pupup-container button {
  background-color: #1a3da8;
  color: white;
  border: none;
  padding: 40px 45px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.pupup-container button:hover {
  background-color: #0e2b6c;
  transform: scale(1.05);
}

.pupup-container button:active {
  background-color: #0b214f;
  transform: scale(0.98);
}

.container-btn {
  display: flex;
  gap: 10px;
  align-items: center;
}

.saved-elements {
  margin-top: 10px;
  width: 100%;
}

.container-btn button {
  background-color: #4a69bd;
  font-weight: bold;
  font-size: 24px;
}

.container-btn button.active:disabled {
  background-color: #63666c;
}

.container-btn button.active {
  background-color: #02fd9c;
  font-weight: bold;
}
.container-btn button.inactive {
  background-color: #9b1102;
  font-weight: bold;
}

.saved-elements button:hover {
  background-color: #3659b1;
}

.pupup-container .clear {
  margin-top: 10px;
  min-width: 50px !important;
  height: 50px !important;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.remove {
  display: inline-block;
  margin-left: auto;
  height: 100%;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.saved-element {
  display: flex;
  gap: 5px;
  align-items: center;
}

.saved-element button {
  /* margin-right: 5px; */
  flex-grow: 1;
}
.input-sum {
  width: 100%;
  padding: 20px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 18px;
  margin-top: 10px;
}
.label-sum {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: start;

  width: 100%;
}

.btns-one-click-container {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
}
.pupup-container .btn-one-click {
  padding: 10px;
  font-weight: 700;
  font-size: 12px;

  max-width: 60px;
}

.selectedBet {
  border: 2px solid #02fd9c !important;
}
